.navbar {
    height: 50px;
    border-bottom: 0.5px solid solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    // background-color: gray;
    // color: white;
    
   
.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
}
 